## *Rodar notebook toda quinta-feira já que às quintas os atletas têm suas habilidades atualizadas após o treino*

In [3]:
import pandas as pd
from functions import clube_id_e_sessao, pega_dados, conecta_ao_db
from datetime import datetime, timedelta

In [25]:
# Mantendo o padrão de como o sokker mostra as datas nos dados que disponibiliza
agora = datetime.now() + timedelta(days=-7, hours=-5)
agora= str(agora).split('.')[0]
print("Data:", agora)

Data: 2024-08-01 14:09:44

In [7]:
sessao, club_id= clube_id_e_sessao()

Login: fabin99
Password: ········
Clube ID: 79085

Como meu clube não pode ter valores nulos, os dos outros usuários sim (não tenho acesso a alguns dados de seus jogadores), eu insiro uma cláusula if antes de iniciar a inserção dos dados na base de dados para conferir.

In [14]:
db= conecta_ao_db('dados_sokker.db')
df_players = pd.read_sql_query("SELECT * FROM players", db)
last_date = df_players["date_extracted"].values[-1]
df_players = df_players.query("date_extracted==@last_date")
df_players

,ID,date_extracted,name,surname,countryID,age,teamID,wage,height,weight,...,skillDiscipline,skillPace,skillTechnique,skillPassing,skillKeeper,skillDefending,skillPlaymaking,skillScoring,trainingPosition,isInTrainingSlot
3667,38981775,2024-07-25 08:49:38,Alexis,Aparicio,97,22,79085,18700.0,185.0,79.2,...,11,11,9,8,0,5,10,13,3,true
3668,38159957,2024-07-25 08:49:38,Wayne,Armstrong,3,28,79085,40500.0,184.0,82.6,...,13,14,11,8,1,14,7,6,1,false
3669,38500438,2024-07-25 08:49:38,Dorian,Crasnoşcec,69,25,79085,33800.0,173.0,76.6,...,12,11,14,11,0,3,11,7,2,true
3670,38862878,2024-07-25 08:49:38,Simon,Danayan,66,23,79085,36500.0,188.0,82.1,...,12,13,4,12,12,5,4,5,0,true
3671,38958862,2024-07-25 08:49:38,Hieronim,Dudzik,1,23,79085,21300.0,186.0,73.7,...,10,11,12,7,1,4,11,12,3,true
3672,37776841,2024-07-25 08:49:38,Marcell,Flammer,8,31,79085,45800.0,181.0,76.6,...,13,14,6,6,13,8,8,7,0,false
3673,37606570,2024-07-25 08:49:38,Gustav,Hamp,30,31,79085,37000.0,186.0,87.5,...,12,13,13,7,1,11,7,3,1,false
3674,38145588,2024-07-25 08:49:38,Ludwik,Janecki,1,26,79085,38900.0,182.0,78.0,...,12,13,9,7,0,15,7,8,1,false
3675,38994322,2024-07-25 08:49:38,Aurelio,Jonckheere,28,22,79085,12600.0,181.0,82.8,...,9,10,8,6,1,11,11,4,1,true
3676,38423470,2024-07-25 08:49:38,Julio César,Martínez Ugarte,17,27,79085,37300.0,176.0,77.1,...,14,11,11,14,1,11,10,10,2,false
3677,38028907,2024-07-25 08:49:38,Rivaldo,Moises,21,28,79085,40900.0,183.0,91.6,...,14,12,11,14,1,13,10,5,2,false
3678,38423923,2024-07-25 08:49:38,Rogelio,Muñoz Escuín,17,26,79085,26300.0,179.0,78.9,...,13,11,9,9,0,13,8,8,2,false
3679,38994945,2024-07-25 08:49:38,Lucho,Murado,17,22,79085,11700.0,184.0,72.9,...,9,10,8,10,3,11,5,9,1,true
3680,38630178,2024-07-25 08:49:38,Szczepan,Pachel,1,26,79085,41700.0,181.0,73.8,...,13,12,15,12,1,10,9,7,2,false
3681,39202810,2024-07-25 08:49:38,Rudy,Perraud,16,20,79085,7500.0,187.0,77.0,...,8,10,3,10,1,7,3,2,1,true
3682,39058237,2024-07-25 08:49:38,Marqueto,Pratto,21,20,79085,7400.0,178.0,74.5,...,10,10,8,7,0,8,8,3,2,true
3683,38532631,2024-07-25 08:49:38,Constantín,Scher,19,26,79085,35700.0,170.0,65.1,...,13,12,13,11,2,8,12,10,2,true
3684,38737051,2024-07-25 08:49:38,Luk,Schockaert,28,25,79085,27500.0,186.0,87.5,...,12,11,9,8,1,14,7,7,1,true
3685,37773691,2024-07-25 08:49:38,Sergiu,Socea,9,32,79085,26300.0,180.0,89.3,...,14,11,12,3,0,9,4,11,3,false

In [21]:
#Habilidades de treino atualizadas da semana corrigida
df_players.loc[df_players.ID == 38500438, 'skillDefending'] = 4
df_players.loc[df_players.ID == 37606570, 'skillKeeper'] = 0

In [26]:
# Inserindo a data de hoje que será importante para acompanharmos suas evoluções
df_players["date_extracted"]= agora

In [27]:
df_players

,ID,date_extracted,name,surname,countryID,age,teamID,wage,height,weight,...,skillDiscipline,skillPace,skillTechnique,skillPassing,skillKeeper,skillDefending,skillPlaymaking,skillScoring,trainingPosition,isInTrainingSlot
3667,38981775,2024-08-01 14:09:44,Alexis,Aparicio,97,22,79085,18700.0,185.0,79.2,...,11,11,9,8,0,5,10,13,3,true
3668,38159957,2024-08-01 14:09:44,Wayne,Armstrong,3,28,79085,40500.0,184.0,82.6,...,13,14,11,8,1,14,7,6,1,false
3669,38500438,2024-08-01 14:09:44,Dorian,Crasnoşcec,69,25,79085,33800.0,173.0,76.6,...,12,11,14,11,0,4,11,7,2,true
3670,38862878,2024-08-01 14:09:44,Simon,Danayan,66,23,79085,36500.0,188.0,82.1,...,12,13,4,12,12,5,4,5,0,true
3671,38958862,2024-08-01 14:09:44,Hieronim,Dudzik,1,23,79085,21300.0,186.0,73.7,...,10,11,12,7,1,4,11,12,3,true
3672,37776841,2024-08-01 14:09:44,Marcell,Flammer,8,31,79085,45800.0,181.0,76.6,...,13,14,6,6,13,8,8,7,0,false
3673,37606570,2024-08-01 14:09:44,Gustav,Hamp,30,31,79085,37000.0,186.0,87.5,...,12,13,13,7,0,11,7,3,1,false
3674,38145588,2024-08-01 14:09:44,Ludwik,Janecki,1,26,79085,38900.0,182.0,78.0,...,12,13,9,7,0,15,7,8,1,false
3675,38994322,2024-08-01 14:09:44,Aurelio,Jonckheere,28,22,79085,12600.0,181.0,82.8,...,9,10,8,6,1,11,11,4,1,true
3676,38423470,2024-08-01 14:09:44,Julio César,Martínez Ugarte,17,27,79085,37300.0,176.0,77.1,...,14,11,11,14,1,11,10,10,2,false
3677,38028907,2024-08-01 14:09:44,Rivaldo,Moises,21,28,79085,40900.0,183.0,91.6,...,14,12,11,14,1,13,10,5,2,false
3678,38423923,2024-08-01 14:09:44,Rogelio,Muñoz Escuín,17,26,79085,26300.0,179.0,78.9,...,13,11,9,9,0,13,8,8,2,false
3679,38994945,2024-08-01 14:09:44,Lucho,Murado,17,22,79085,11700.0,184.0,72.9,...,9,10,8,10,3,11,5,9,1,true
3680,38630178,2024-08-01 14:09:44,Szczepan,Pachel,1,26,79085,41700.0,181.0,73.8,...,13,12,15,12,1,10,9,7,2,false
3681,39202810,2024-08-01 14:09:44,Rudy,Perraud,16,20,79085,7500.0,187.0,77.0,...,8,10,3,10,1,7,3,2,1,true
3682,39058237,2024-08-01 14:09:44,Marqueto,Pratto,21,20,79085,7400.0,178.0,74.5,...,10,10,8,7,0,8,8,3,2,true
3683,38532631,2024-08-01 14:09:44,Constantín,Scher,19,26,79085,35700.0,170.0,65.1,...,13,12,13,11,2,8,12,10,2,true
3684,38737051,2024-08-01 14:09:44,Luk,Schockaert,28,25,79085,27500.0,186.0,87.5,...,12,11,9,8,1,14,7,7,1,true
3685,37773691,2024-08-01 14:09:44,Sergiu,Socea,9,32,79085,26300.0,180.0,89.3,...,14,11,12,3,0,9,4,11,3,false

In [28]:
# URL da API
#url= f'https://sokker.org/xml/players-{club_id}.xml'

# Pegando os dados dos atletas
#df_players= pega_dados(url, sessao, search= 'player')



# Soma de valores nulos ou duplicados
nulos= df_players.isnull().sum().sum()
duplicados=  df_players.duplicated().sum()


# if (nulos > 0) or (duplicados > 0):
#     print('Há valores nulos ou duplicados. Confira os dados e tente novamente.')
    
# else:
#     print('Não há valores nulos ou duplicados. Inserindo dados na base de dados "dados.sokker.db"...')
    
#     db= conecta_ao_db('dados_sokker.db')
#     curs= db.cursor()
    
#     df_players.to_sql('players', con=db, if_exists='append', index= False) 
#     print('Dados extraídos com sucesso!')

Não há valores nulos ou duplicados. Inserindo dados na base de dados "dados.sokker.db"...
Dados extraídos com sucesso!

In [29]:
df = pd.read_sql_query("SELECT * FROM players", db)

In [30]:
df

,ID,date_extracted,name,surname,countryID,age,teamID,wage,height,weight,...,skillDiscipline,skillPace,skillTechnique,skillPassing,skillKeeper,skillDefending,skillPlaymaking,skillScoring,trainingPosition,isInTrainingSlot
0,36519432,2021-07-27 14:44:35,Krastan,Apostolov,54,29,79085,33900.0,177.0,71.5,...,5,15,3,9,10,5,5,3,None,None
1,37968035,2021-07-27 14:44:35,Romildo,Barbadiano,21,29,79085,3900.0,171.0,63.9,...,1,5,8,3,0,8,1,3,None,None
2,37968034,2021-07-27 14:44:35,Giovani,Barriguinha,21,27,79085,2600.0,172.0,76.3,...,0,6,2,5,1,5,1,4,None,None
3,36103236,2021-07-27 14:44:35,Ilario,Bartolozzi,10,29,79085,16900.0,169.0,67.3,...,9,13,7,8,0,8,9,8,None,None
4,37968028,2021-07-27 14:44:35,Cecilio,Bazzarella,21,20,79085,4800.0,175.0,77.4,...,1,7,1,9,0,5,7,7,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3700,39202810,2024-08-01 14:09:44,Rudy,Perraud,16,20,79085,7500.0,187.0,77.0,...,8,10,3,10,1,7,3,2,1,true
3701,39058237,2024-08-01 14:09:44,Marqueto,Pratto,21,20,79085,7400.0,178.0,74.5,...,10,10,8,7,0,8,8,3,2,true
3702,38532631,2024-08-01 14:09:44,Constantín,Scher,19,26,79085,35700.0,170.0,65.1,...,13,12,13,11,2,8,12,10,2,true
3703,38737051,2024-08-01 14:09:44,Luk,Schockaert,28,25,79085,27500.0,186.0,87.5,...,12,11,9,8,1,14,7,7,1,true
3704,37773691,2024-08-01 14:09:44,Sergiu,Socea,9,32,79085,26300.0,180.0,89.3,...,14,11,12,3,0,9,4,11,3,false

In [31]:
len(df)

3705

##

In [32]:
# Salvando alterações
db.commit()

# Fechando conexão com a base de dados
db.close()

In [33]:
df.to_csv('All_Players_Data_Sokker.csv', index=0)